.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
footer {
	text-align: center;
    color: grey;
	border-style: dashed;
}	

.logindialog {
}

/* Image viewer */
.gallerycontainer {
	margin: auto;
	max-width: 1500px;
	padding: 5px;
}
.galleryelement {
	padding: 5px;
}
  .bordered {
    border-style: dashed;
}
.centered {
	text-align: center;
}
.bigtext {
	font-size: 20px;
}
.biggertext {
	font-size: 40px;
}
.viewcontainer {
	position: relative;
	max-width: 615px;
	padding-bottom: 10px;
	margin: auto;
}
.imagecontainer {
	margin: auto;
	padding: 5px;
}
.imagemenu {
	position: absolute;
	left: 93%;
}
.infocontainer {
	padding-bottom: 5px;
}
.imageinfo {
	resize: none;
	width: 92%;
	overflow: hidden;
}
.tags {
	font-weight: bold;
}
.flame {
	padding-bottom: 5px;
}
.commentsection {
}
.commentrow {
	vertical-align: text-top;
}
.commenttext {
	resize: none;
	width: 87%;
	overflow: hidden;
}
textarea {
	border-style: none;
}