.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
footer {
	text-align: center;
    color: grey;
}	
/* Login dialog */
.logindialog {
}

/* Main menu */
.dropdown-menu li{
   font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.menuitem {
	color: #9d9d9d;
}
.menuitem:hover {
	color: #222;
}
/* Image viewer */
.gallerycontainer {
	margin: auto;
	max-width: 1500px;
}
.galleryelement {
	padding-top: 5px;
	padding-bottom: 10px;	
}
.bordered {
    border-style: dashed;
}
.bigtext {
	font-size: 20px;
}
.biggertext {
	font-size: 40px;
}
.imagecontainer {
	padding-top: 5px;
	padding-bottom: 10px;
}
.flamers {
	font-weight: bold;
}
.infocontainer {
	padding: 5px;
}
.imageinfo {
	resize: none;
	overflow: hidden;
}
.tags {
	font-weight: bold;
}
.commentsection {
}
.commentrow {
}
img {
	max-width:100%;
}